/* ========================================================
	style.scss - Plugin Styles
======================================================== */

$extra-small: "screen and (min-width: 601px)";
$small: "screen and (min-width: 768px)";
$medium: "screen and (min-width: 992px)";
$large: "screen and (min-width: 1200px)";
$extraLarge: "screen and (min-width: 1500px)";

$sfaDark: #000000;
$sfaLight: #f4f4f4;

#sfaComp__container {
	margin: 0 auto;
	max-width: 900px;
	padding: 30px 0 100px;

	@keyframes ssfaComp_rotateLoaderBlock {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	.ssfaComp__loadingBlock {
		background: $sfaLight;
		border-radius: 10px;
		font-size: 12px;
		padding: 50px;
		position: relative;
		text-align: center;

		@media #{$small} {
			padding: 100px;
		}

		&:before {
			animation: ssfaComp_rotateLoaderBlock 2s linear infinite forwards;
			border: solid 3px darken($sfaLight, 10%);
			border-radius: 30px;
			border-right: solid 3px transparent;
			content: " ";
			display: block;
			height: 30px;
			margin: 0 auto 10px;
			width: 30px;
			z-index: 10;
		}
	}

	.sfaComp__title {
		margin-bottom: 30px;
		text-align: center;

		h1 {
			font-size: 18px;
			margin-bottom: 10px;

			@media #{$small} {
				font-size: 32px;
			}
		}

		h6 {
			font-weight: 400;
		}
	}

	.sfaComp__tabButtons {
		margin-bottom: 30px;

		&.active__fixtures {
			li:first-child {
				background: $sfaDark;
				color: white;
			}
		}

		&.active__results {
			li:nth-child(2) {
				background: $sfaDark;
				color: white;
			}
		}

		&.active__table {
			li:last-child {
				background: $sfaDark;
				color: white;
			}
		}

		ul {
			border: solid 1px $sfaLight;
			display: flex;
			margin: 0;
			overflow: hidden;
			padding: 0;

			li {
				background: $sfaLight;
				cursor: pointer;
				display: block;
				flex-grow: 1;
				font-weight: 700;
				margin: 0;
				min-width: 33.333333%;
				padding: 15px;
				text-align: center;

				&:hover {
					background: darken($sfaLight, 20%);
					color: white;
				}
			}
		}
	} // .cf__tabButtons

	.sfaComp_leagueTable {
		margin: 0 auto;
		width: 100%;

		.sfaComp__table-head {
			background: $sfaDark;
			color: white;
			font-weight: 700;
		}

		.sfaComp__table-row {
			align-items: center;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			padding: 0 10px;

			&:nth-child(even) {
				background: $sfaLight;
			}

			span {
				display: block;
				font-size: 12px;
				max-width: 30px;
				padding: 10px 0;
				text-align: center;
				width: calc(50% / 3);

				@media #{$small} {
					font-size: 1em;
				}

				&.hiddenMobile {
					display: none;

					@media #{$small} {
						display: block;
					}
				}

				&:nth-child(2) {
					max-width: 50%;
					min-width: 50%;
					text-align: left;
					width: auto;
				}
			}
		}
	} // .sfaComp_leagueTable

	.sfaComp__match_group {
		height: 60px;
		list-style: none;
		margin: 0;
		overflow: hidden;
		padding: 0;

		&.active__match_group {
			height: auto;
			margin-bottom: 30px;

			li.sfaComp__match_date {
				a {
					background: $sfaDark;
					height: auto;

					i {
						transform: rotate(180deg);
					}
				}
			}
		}

		.sfaComp__match_date {
			margin-top: 0;
			padding: 0;

			a {
				background-color: $sfaDark;
				color: white;
				display: block;
				font-weight: 400;
				overflow: hidden;
				padding: 15px 45px 15px 15px;
				position: relative;
				text-overflow: ellipsis;
				white-space: nowrap;

				i {
					position: absolute;
					right: 15px;
					top: 15px;

					transition: all ease 0.5s;
				}

				&:hover {
					text-decoration: none;
				}
			}
		}

		.sfaComp__fixture {
			align-items: center;
			border-bottom: solid 1px $sfaLight;
			cursor: pointer;
			display: flex;
			flex-wrap: wrap;
			margin: 5px 0;
			position: relative;
			width: 100%;

			&:hover {
				background: $sfaLight;
			}

			&.fixture__activeDetails {
				background: $sfaLight;

				.fixture__details .fixture__details-game {
					display: flex;
				}
			}

			&:nth-child(odd) {
				// background-color: $sfaLight;
			}

			.fixture__match-up {
				padding: 10px;
				position: relative;
				width: 100%;

				.match-up__status {
					background: red;
					color: white;
					font-size: 10px;
					padding: 10px;
					text-align: center;
					width: 20%;

					@media #{$small}{
						background: transparent;
						color: red;
					}

					span {
						display: block;
						width: 100%;

						&.status__type {
							font-weight: 700;
						}

						&.status__reason {
							display: none;

							@media #{$small}{
								display: block;
							}
						}
					}
				}

				.match-up__content {
					align-items: center;
					display: flex;
					justify-content: center;

					.match-up__home {
						text-align: left;
						width: 40%;

						@media #{$small} {
							text-align: right;
						}
					}

					.match-up__away {
						text-align: right;
						width: 40%;

						@media #{$small} {
							text-align: left;
						}
					}

					.match-up__team-name {
						display: block;
						font-size: 0.9em;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}

					.match-up__vs,
					.match-up__score {
						font-weight: 700;
						position: relative;
						text-align: center;
						width: 20%;

						span {
							display: inline-block;
							padding: 0 10px;
						}
					}
				}
			}

			.fixture__details {
				width: 100%;

				.fixture__details-game {
					align-items: center;
					background: darken($sfaLight, 3%);
					display: none;
					flex-wrap: wrap;
					padding: 10px;

					.fixture__details-game-item {
						align-items: center;
						display: flex;
						flex-grow: 1;
						font-size: 0.8em;
						justify-content: center;
						margin-bottom: 5px;
						text-align: center;
						vertical-align: middle;
						width: 100%;

						@media #{$small}{
							margin: 0;
							width: 33.33333%;
						}

						&:last-child {
							margin: 0;
						}

						span {
							display: block;
							font-size: 1.2em;
							margin-right: 10px;
						}
					}
				}
			}

			.fixture__info {
				width: 100%;

				.info__content {
					font-size: 12px;
					text-align: center;

					p {
						margin: 0;
					}
				}
			}
		}
	} // .sfaComp__match_group

	.sfaComp__noData {
		background: $sfaLight;
		padding: 30px;
		text-align: center;
		text-transform: uppercase;

		p { margin: 0; opacity: 0.5;}
	}
} // #sfaComp__container
